body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

a:hover {
  background-color: #555;
}

.creative-section {
  background-color: #6420AA;
  padding: 50px 0;
  text-align: center;
  margin-left: 0.1%;
  margin-right: 0.1%;
  margin-top: 10px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  color: white;
}

p {
  font-size: 1.2em;
  color: black;
  margin-top: 20px;
}

.profile-section, .about-section {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 50px;
  margin-top: 1%;
}

.profile-section {
  text-align: center;
  background-color: gold;
}

.about-section {
  background-color: gold;
  justify-content: baseline;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

.content h2{
  color: white;
}

img {
  width: 300px;
  height: 417px;
  border-radius: 40%;
  display: block;
  margin: 0 auto;

}

.work-section {
  width: 100%;
  height: 500px;
  background-color: #6420AA;
  padding: 50px 0;
  margin-top: 40%;
  margin-left: 0.1%;
  margin-right: 0.1%;

}

.work {
  max-width: 800px;
  margin: 0 auto;
  
}

.work h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.work-item {
  margin-top: 40px;
  text-align: left;
}

.work-item h3 {
  font-size: 1.5em;
  color: black;
}

.work-item p {
  font-size: 1.5em;
  color: black;
}

.image-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-item {
  margin: 0 10px;
}

.image-item img {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.image-item p {
  font-size: 1em;
  color: black;
}

.skillset-section {
  width: 100%;
  background-color: gold;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  margin-left: 0.1%;
  margin-right: 0.1%;
  height: 600px;
}

.sk {
  max-width: 800px;
  margin: 0 auto;
}

.sk h2 {
  font-size: 2em;
  color: black;
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.skill {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.skill h3 {
  font-size: 1.5em;
  color: #333;
}

.skill ul {
  list-style-type: none;
  padding: 0;
}

.skill ul li {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 5px;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 50px 0;
  margin-left: 0.1%;
  margin-right: 0.1%;
  margin-top: 1%;
}

.footer .content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

.footer-info, .social-icons {
  flex: 1;
}

.footer-info h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.social-icons h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-left: 90px ;
}

.footer-info p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: white;
}

.social-icons ul {
  list-style: none;
  padding: 0;
}

.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a img {
  width: 40px;
  height: 40px;
}